/* ==========Global========== */

@font-face {
    font-family:"sans";
    src: url(../fonts/notosans/NotoSans-Black.ttf);
}

@font-face {
    font-family: "sans-medium";
    src: url(../fonts/notosans/NotoSans-Medium.ttf);
}

.sansFont{
    font-family: "sans",sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    
}

article{
    border: 1px solid black;
    height: 500px;
    width: 700px;
    padding:15px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 20px;
}


/* ----------searchbar---------- */

.searchBar{
    padding:5px;
    padding-left: 15px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    width: 500px;
    margin-bottom: 50px;
}

::placeholder{
    color:black;
    font-family: "sans-medium";   
}


.input{
    padding-top: 30px;
}


button{
    background-color:white;
    border: 0px;
}



main{
    background-repeat: none;
    background-size: cover;
}



/* ==========data========== */




/* ----------location---------- */

.locationTempContainer{
    margin-bottom: 50px;
}
.location{
    margin-bottom: 20px;
}



/* ----------temperature---------- */

.temperature{
    font-size: 25px;
}

.temperature::after{
    content:"°C";
}

/* ----------feels like temperature---------- */

.feelsLikeTemp{
    font-size: 17px;
}

.feelsLikeTemp::after{
    content:"°C";
}

.feelsLikeTemp::before{
    content: "Feels like ";
    font-size: 15px;
}

/* ----------humidity---------- */

.humidity{
    font-size: 15px;
}

.humidity::after{
    content:"%"
}

.humidity::before{
    content:"humidity "
}

/* ----------windspeed---------- */

.windSpeed{
    font-size: 15px;
}

.windSpeed::before{
    content:"windspeed "
}

.windSpeed::after{
    content:" Km/h"
}

/* ----------searchbar---------- */

.searchBar{
    padding:5px;
    padding-left: 15px;
    font-size: 18px;
    
    
}

::placeholder{
    color:black;
    font-family: "sans-medium";   
}