/* ==========Global========== */

@font-face {
    font-family:"sans";
    src: url(../fonts/NotoSans-Black.ttf);
}

.sansFont{
    font-family: "sans",sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


article{
    border: 1px solid black;
    height: 500px;
    width: 700px;
    padding:15px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 20px;
}

.input{
    padding-top: 30px;
}

.searchBar{
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    width: 500px;
    margin-bottom: 50px;;
}

.locationTempContainer{
    margin-bottom: 50px;
}
.location{
    margin-bottom: 20px;
}

button{
    background-color:white;
    border: 0px;
}


/* ==========data========== */


/* ----------temperature---------- */

.temperature{
    font-size: 25px;
}

.temperature::after{
    content:"°C";
}

/* ----------feels like temperature---------- */

.feelsLikeTemp{
    font-size: 17px;
}

.feelsLikeTemp::after{
    content:"°C";
}

.feelsLikeTemp::before{
    content: "Feels like ";
    font-size: 15px;
}

.humidity{
    font-size: 15px;
}

.humidity::after{
    content:"%"
}

.humidity::before{
    content:"humidity "
}

.windSpeed{
    font-size: 15px;
}

.windSpeed::before{
    content:"windspeed "
}

.windSpeed::after{
    content:" Km/h"
}



.searchBar{
    padding:5px;
    padding-left: 15px;
    font-size: 15px;
    
}